[user]
	name = Daryl Metzler
	email = djmetzle@ncsu.edu

[color]
	ui = true

[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative master..HEAD
	lg   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	st = status
	co = checkout
	b = branch
	d = diff
	dc = diff --cached
	ap = add --patch
	shit = reset
